<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout.html}" lang="en">

<body>
<div layout:fragment="content" class="container-fluid">

    <div class="row">
        <div class="col-lg-12 d-flex align-items-stretch">
            <div class="card w-100">
                <form th:action="@{/expenses/create}" method="post" th:object="${expense}">
                <div class="card-body p-4">
                    <h2 class="card-title fw-semibold mb-4" th:value="${userId}" th:text="'Hello, ' + ${userName} + '!'">Hello, User! </h2>
                    <h5 class="card-title fw-semibold mb-4">Add Expense Item</h5>
                    <div class="row mb-0">
                        <div class="mb-4 col-xs-12 col-md-6 col-lg-3">
                            <label class="form-label" for="itemId">Item</label>
                            <select class="form-select" aria-label="Default select example" id="itemId" name="itemId.itemId" required>
                                <option th:each="item : ${items}" th:value="${item.itemId}" th:text="${item.itemName}"></option>
                            </select>
                        </div>
                        <div class="mb-4 col-xs-8 col-md-6 col-lg-3">
                            <label class="form-label" for="expenseAmount">Amount</label>
                            <input type="number" class="form-control" id="expenseAmount" name="expenseAmount" required>
                        </div>
                        <div class="mb-4 col-xs-4 col-md-6 col-lg-3">
                            <label class="form-label" for="currencyId">Currency</label>
                            <select class="form-select" aria-label="Default select example" id="currencyId" name="currencyId.currencyId" required>
                                <option th:each="currency : ${currencies}" th:value="${currency.currencyId}" th:text="${currency.currencyName}"></option>
                            </select>
                        </div>
                        <div class="mb-4 col-xs-12 col-md-6 col-lg-3">
                            <label class="form-label" for="expenseDate">Select Date</label>
                            <input type="date" class="form-control" id="expenseDate"  name="expenseDate" required/>
                        </div>
                        <div class="mb-4 col-xs-12">
                            <button class="btn btn-primary" >Submit</button>
                        </div>

                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 d-flex align-items-stretch">
            <div class="card w-100">
                <div class="card-body p-4">
                    <h5 class="card-title fw-semibold mb-4">Recent Transactions</h5>
                    <div class="table-responsive">
                        <table class="table text-nowrap mb-0 align-middle">
                            <thead class="text-dark fs-4">
                            <tr>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Expense ID</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Items</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Amount</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Currency</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Date</h6>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="expense:${expenses}">
                                <td class="border-bottom-0" th:text="${expense.expTransactionId}"></td>
                                <td class="border-bottom-0">
                                    <span th:if="${expense.itemId != null}" th:text="${expense.itemId.itemName}"></span>
                                    <span th:if="${expense.itemId == null}">N/A</span>
                                </td>
                                <td class="border-bottom-0" th:text="${expense.expenseAmount}"></td>
                                <td class="border-bottom-0">
                                    <div class="d-flex align-items-center gap-2">
                                        <span class="badge bg-primary rounded-3 fw-semibold" th:if="${expense.currencyId != null}" th:text="${expense.currencyId.currencyName}"></span>
                                        <span class="badge bg-primary rounded-3 fw-semibold" th:if="${expense.currencyId == null}">N/A</span>
                                    </div>
                                </td>
                                <td class="border-bottom-0" th:text="${expense.expenseDate}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 d-flex align-items-stretch">
            <div class="card w-100">
                <div class="card-body p-4">
                    <h5 class="card-title fw-semibold mb-4">Report</h5>
                    <div class="row mb-0">
                            <div class="mb-4 col-xs-12 col-md-6 col-lg-3">
                                <label class="form-label" for="fromDate">From</label>
                                <input type="date" class="form-control" id="fromDate" name="fromDate" th:value="${fromDate}" required />
                            </div>
                            <div class="mb-4 col-xs-12 col-md-6 col-lg-3">
                                <label class="form-label" for="toDate">To</label>
                                <input type="date" class="form-control" id="toDate" name="toDate" th:value="${toDate}" required />
                            </div>
                            <div class="mb-4 col-xs-12 col-md-4 col-lg-4" style="padding-top: 28px;">
                                <button id="generateButton" type="submit" class="btn btn-primary" style="padding-top: 9px; padding-bottom: 9px;">Generate</button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 d-flex align-items-stretch">
            <div class="card w-100 bg-light-info overflow-hidden shadow-none">
                <div class="card-body position-relative">
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="d-flex align-items-center mb-7">
                                <div class="rounded-circle overflow-hidden me-6">
                                    <img src="/images/profile/user-1.jpg" alt="" width="40" height="40">
                                </div>
                                <h5 class="fw-semibold mb-0 fs-5" th:text="${userName + ' Report'}">${userName}'s Report</h5>
                            </div>
                            <div class="d-flex align-items-center">
                                <div class="border-end pe-4 border-muted border-opacity-10">
                                    <h3 class="mb-1 fw-semibold fs-8 d-flex align-content-center" th:if="${dateWithMostExpenses != null}" th:text="${#temporals.format(dateWithMostExpenses, 'dd MMM yyyy')}"></h3>
                                    <p class="mb-0 text-dark" th:if="${dateWithMostExpenses != null}">Date of Maximum Expended</p>
                                    <p class="mb-0 text-dark" th:if="${dateWithMostExpenses == null}">No expenses found</p>
                                </div>

                                <div class="ps-4">
                                    <h5 class="mb-1 fw-semibold fs-8 d-flex align-content-center"
                                        th:if="${top3ItemWithMostExpenses != null}" th:each="item : ${top3ItemWithMostExpenses}" th:text="${item.itemName} + ', '"></h5>
                                    <p class="mb-0 text-dark" th:if="${top3ItemWithMostExpenses != null}">Top 3 Items Mostly Spent On </p>
                                    <p class="mb-0 text-dark" th:if="${top3ItemWithMostExpenses == null}">N/A Mostly Spent On</p>
                                </div>
                                <div class="ps-4">
                                    <h3 class="mb-1 fw-semibold fs-8 d-flex align-content-center" th:if="${averageExpenseByUSD != null}" th:text="${averageExpenseByUSD} + ' USD'"></h3>
                                    <p class="mb-0 text-dark" th:if="${averageExpenseByUSD != null}">Average Spending</p>
                                    <p class="mb-0 text-dark" th:if="${averageExpenseByUSD == null}">N/A Spending</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="welcome-bg-img mb-n7 text-end">
                                <img src="/images/backgrounds/welcome-bg.svg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const generateButton = document.getElementById("generateButton");
    generateButton.addEventListener("click", function() {
        const fromDateInput = document.getElementById("fromDate");
        const toDateInput = document.getElementById("toDate");
        const newFromDate = fromDateInput.value;
        const newToDate = toDateInput.value;

        // Perform validation if needed

        // Create a JSON object with the new dates
        const dateRange = {
            fromDate: newFromDate,
            toDate: newToDate
        };

        // Send the JSON object to the server using an AJAX request
        fetch('/generateReport', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(dateRange)
        }).then(function(response) {
            // Handle the response if needed
            if (response.ok) {
                // Reload the page to apply the new date range
                window.location.reload();
            } else {
                // Handle any errors or display a message to the user
                console.error('Failed to update date range');
            }
        });
    });
</script>
</body>
</html>