<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout-blank.html}">

<body>
<div layout:fragment="content" class="row justify-content-center w-100">
    <div class="col-md-8 col-lg-6 col-xxl-3">
        <div class="card mb-0">
            <div class="card-body">
                <a th:href="@{/login_admin}" class="text-nowrap logo-img text-center d-block py-3 w-100">
                    <img src="/images/logos/logo.png" width="180" alt="">
                </a>
                <p class="text-center">Admin Login</p>
                <form th:action="@{/admin/login_page}" method="post" th:object="${login_admin}">
                    <div class="mb-3">
                        <label for="adminEmail" class="form-label">Email Address</label>
                        <input type="email" class="form-control" id="adminEmail" aria-describedby="emailHelp" name="adminEmail" required>
                    </div>
                    <div class="mb-4">
                        <label for="adminPassword" class="form-label">Password</label>
                        <input type="password" class="form-control" id="adminPassword" name="adminPassword" required>
                    </div>
                    <button class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Sign In</button>
                    <div class="d-flex align-items-center justify-content-center">
                        <a class="text-primary fw-bold ms-2" th:href="@{/register_admin}">Create an account</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>


