<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
</head>
<body>
<h1>User Registration</h1>
<form th:action="@{/user/create}" method="post" th:object="${registration}">
    <label for="userName">Username:</label>
    <input type="text" id="userName" name="userName" required><br><br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br><br>

    <button type="submit">Register</button>
</form>
</body>
</html>
